/* Form */
form {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

form button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover{
  background: var(--colour-primary); /* replaces the gradient */
  color: #fff;
}