/* Variables */
html {
  overflow-y: scroll; /* always reserve space for scrollbar */
}

:root {
  --colour-primary: #ed97c1;
  --colour-secondary: #f3eff1;
  --colour-background-white: rgb(213, 200, 210);
  --colour-background-light: #f0f0f0;
  --colour-background-dark: black;
  --colour-text-light: #ffffff;
  --colour-text-dark: black;

  --width-max: 800px;

  --spacing-xs: 8px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 40px;
  --spacing-xxl: 80px;

  --font-size-heading: 48px;
  --font-size-subheading: 24px;
  --font-size-body: 16px;
  --font-size-small: 12px;
  --font-weight-bold: bold;
  --font-family-body: Arial, sans-serif;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;

  /* Add background image */
    background: url("/images/babysandal.jpg") no-repeat center center / cover,
              rgba(255, 255, 255, 0.6); /* overlay color */
  background-blend-mode: lighten; /* or multiply, overlay, etc. */
}

@media (max-width: 600px) {
  body::after {
    content: "";
    position: fixed;       /* stays in place */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;         /* adjust height of image area */
    background: url("../images/babysandal.jpg") no-repeat bottom center / cover;
    opacity: 0.5;          /* optional overlay effect */
    z-index: -1;           /* pushes behind footer/content */
  }
}


.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 300px; /* Flexible width */
}
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
  .content {
    font-size: 1rem;
  }
}
