.main {
  position: absolute;
  top: 90px;   /* place it 60px from the top of the page */
  left: 0;
  right: 0;
  margin: auto;
  max-width: var(--width-max);
  background: var(--colour-background-light);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
  color: #000000;
  z-index: 2;
}

