.search {
  padding: var(--spacing-xl) var(--spacing-l);
  text-align: left;
}

.search__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

@media (min-width: 800px) {
  .search__input-wrapper {
    flex-direction: row;
  }
}

.search__input {
  flex: 1;
  border: 1px solid var(--colour-background-dark);
  border-radius: var(--border-radius-s);
  background: var(--colour-background-light);
  color: var(--colour-text-dark);
  padding: var(--spacing-l);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  line-height: 1.5;
}

.search__submit {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.search__footer {
  margin-top: var(--spacing-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__result-count {
  font-size: var(--font-size-small);
  font-style: italic;
}

.search__loading {
  display: none;
}

.search__loading.is-loading {
  display: block;
}

#searchBox {
      display: block;
      width: 100%;
      margin-bottom: 20px;  /* gap between input and buttons */
      padding: 10px;
      font-size: 1rem;
  
} 

#searchBtn {
      margin-right: 10px;   /* spacing between buttons */
      padding: 8px 16px;
      font-size: 1rem;
      margin-bottom: 10px;
      background: linear-gradient(
      to bottom left,
    var(--colour-primary),
    var(--colour-secondary)
  ); 
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)  ;

}

#searchBtn:hover {
  background: var(--colour-primary); /* replaces the gradient */
  color: #fff;
}

#clearBtn {
      padding: 8px 16px;
      font-size: 1rem;
      background: #ccc;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)  ;
}